server:
  port: 8080

spring:
  application:
    name: ClinicBookingApp
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3306/clinic_booking_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

# JWT Configuration
jwt:
  secret: my-super-secret-key-for-jwt-signing-which-is-very-long-123456
  expiration: 36000000

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
